<div class="flex flex-col gap-4 p-4 lg:flex-row">
  <div class="face">
    <div class="band">
      <div class="blue"></div>
      <div class="yellow"></div>
    </div>
    <div class="eyes"></div>
    <div class="dimples"></div>
    <div class="mouth"></div>
  </div>
  <div>
    <h1 class="lg:text-10xl yanone-kaffeesatz-400 text-7xl">404</h1>
    <p class="py-6">Oops! We can’t seem to find the page you’re looking for.</p>
    <div class="flex w-full flex-col items-center lg:flex-row">
      <a class="btn btn-primary" href="/">go to home</a>
    </div>
  </div>
</div>
