<div class="mb-8 mt-24">
  <app-share-content-title class="text-warning">
    Input an URL
  </app-share-content-title>
</div>
<form
  class="rounded-xl bg-neutral p-2"
  [class.skeleton]="isLoading() || !token()"
  (submit)="createPreview()">
  <div class="flex gap-4">
    <label class="input input-bordered flex w-full items-center gap-2">
      <ng-icon name="phosphorLinkSimpleBold" size="24" />
      <input
        #url
        type="text"
        placeholder="website url"
        [formControl]="urlInput"
        class="w-full" />
    </label>

    <button
      type="submit"
      [class.skeleton]="isLoading()"
      class="btn btn-primary"
      [attr.disabled]="!this.urlInput.value || isLoading() ? true : null">
      go!
    </button>
  </div>
</form>
