<div class="mb-8 mt-16 px-4">
  <app-share-content-sub-title class="text-warning">
    and will get a site screenshot here!
  </app-share-content-sub-title>
</div>

<div class="lg:mx-4">
  <div
    class="carousel carousel-center w-full gap-4 bg-neutral p-4 lg:rounded-xl">
    @if (views().length > 0 && token()) {
      @for (view of views(); track $index) {
        <app-preview-item
          [preview]="view"
          (openStat)="openStat(view)"></app-preview-item>
      }
    }
  </div>
</div>

<app-modal
  [emitEvent]="modalInEvent()"
  (modalOutputEvent)="modalOutEvent($event)">
  @if (showPreview()?.data) {
    <img
      class="w-frull"
      src="{{ showPreview()?.data?.preview }}"
      [alt]="showPreview()?.data?.previewAltTitle || ''" />
    <div
      class="preview-stat absolute bottom-0 left-0 right-0 mx-4 overflow-hidden rounded-t-xl bg-neutral p-4">
      <p>
        <a href="{{ showPreview()?.data?.url }}" target="_blank" class="link">
          {{ showPreview()?.data?.shortUrl }}</a
        >
      </p>
      <ul class="ms-4">
        <li>
          preview url:
          <a href="{{ showPreview()?.data?.preview }}" class="link">{{
            showPreview()?.data?.preview
          }}</a>
        </li>
      </ul>
    </div>
  }
</app-modal>
