footer {
  .list-files {
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 5px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 210px;

    .file {
      animation: fade 0.35s ease both;

      .name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .done {
        transform: scale(0);

        &.anim {
          animation: done 0.2s ease forwards;
        }
      }

      @keyframes done {
        30% {
          transform: scale(0.3);
        }
        50% {
          transform: scale(0.5);
        }
        80% {
          transform: scale(0.8);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}
@keyframes fade {
  to {
    opacity: 1;
  }
}
