<div class="px-2">
  <h1 class="pb-2 text-3xl font-semibold">Terms of Service</h1>
  <p>Effective Date: {{ today }}</p>

  <p class="text-sm">
    These Terms of Service ("Terms", "Terms of Service") govern your access to
    and use of the Previewly.top website (the "Service") ("us", "we", or "our").
  </p>

  <h2>Acceptance of Terms</h2>
  <p>
    By accessing or using the Service, you agree to be bound by these Terms. If
    you disagree with any part of the terms then you may not access the Service.
    These Terms apply to all visitors, users and others who access or use the
    Service.
  </p>

  <h2>Accounts</h2>
  <p>
    When you create an account with us, you must provide information that is
    accurate, complete, and current at all times. You are responsible for
    maintaining the confidentiality of your account and password, including but
    not limited to restricting access to your computer and/or device and logging
    out of your account after each use. You agree to be responsible for all
    activities that occur under your account or password.
  </p>

  <h2>Use of Service</h2>
  <p>
    You agree to not use the Service for any unlawful purpose or in any way that
    violates these Terms. You agree to not use the Service in a way that could
    damage, disable, overburden, or impair the servers or networks of
    Previewly.top and other third-party services connected to Previewly.top. You
    agree to not attempt to gain unauthorized access to the Service, computer
    systems or networks connected to Previewly.top, or any other systems or
    networks through hacking, password mining or other means.
  </p>

  <h2>Intellectual Property</h2>
  <p>
    The Service and its original content, features and functionality are and
    will remain the exclusive property of Previewly.top and its licensors. The
    Service is protected by copyright, trademark, and other intellectual
    property laws of both the United States and foreign countries.
  </p>

  <h2>Termination</h2>
  <p>
    We may terminate or suspend your access to the Service immediately, without
    prior notice or liability, for any reason whatsoever, including but not
    limited to a breach of these Terms. Upon termination, your right to use the
    Service will immediately cease. You may also terminate your account with us
    at any time.
  </p>

  <h2>Links To Other Sites</h2>
  <p>
    Our Service may contain links to third-party websites or services that are
    not owned or controlled by Previewly.top. Previewly.top has no control over,
    and assumes no responsibility for, the content, privacy policies, or
    practices of any third party websites or services. We strongly advise you to
    read the terms and conditions and privacy policies of any third-party
    websites or services that you visit.
  </p>

  <h2>Disclaimer</h2>
  <p>
    YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN
    "AS IS" AND "AS AVAILABLE" BASIS. THE SERVICE IS PROVIDED WITHOUT WARRANTIES
    OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
    WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
    NON-INFRINGEMENT, OR COURSE OF PERFORMANCE.
  </p>

  <p>
    PREVIEWLY.TOP DOES NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED,
    TIMELY, SECURE, OR ERROR-FREE.
  </p>

  <p>
    PREVIEWLY.TOP DOES NOT WARRANT THAT THE RESULTS THAT MAY BE OBTAINED FROM
    THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE.
  </p>

  <p>
    YOU ARE RESPONSIBLE FOR ANY DAMAGE OR LOSS THAT MAY RESULT FROM YOUR
    DOWNLOADING OR USE OF MATERIALS PROVIDED THROUGH THE SERVICE.
  </p>

  <h2>Limitations of Liability</h2>
  <p>
    IN NO EVENT SHALL PREVIEWLY.TOP, OR ITS DIRECTORS, EMPLOYEES, OR AGENTS BE
    LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR
    PUNITIVE DAMAGES, ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF THE
    SERVICE, EVEN IF PREVIEWLY.TOP HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
    DAMAGES.
  </p>

  <h2>Governing Law</h2>
  <p>
    These Terms shall be governed and construed in accordance with the laws of
    Ukraine without regard to its conflict of law provisions.
  </p>

  <h2>Dispute Resolution</h2>
  <p>
    Any dispute arising out of or relating to these Terms will be settled in
    accordance with the binding arbitration agreement between you and
    Previewly.top, which is available upon request.
  </p>

  <h2>Changes to Terms of Service</h2>
  <p>
    We may update our Terms of Service from time to time. We will notify you of
    any changes by posting the new Terms of Service on this page. You are
    advised to review this Terms of Service periodically for any changes.
  </p>

  <h2>Contact Us</h2>
  <p>
    If you have any questions about these Terms of Service, please contact us at
    <a class="link" href="https://github.com/previewly/previewly-frontend">
      github </a
    >.
  </p>
</div>
