<div class="mt-16 flex">
  <app-share-content-sub-title class="text-warning flex-auto">
    and will get a site screenshot!
  </app-share-content-sub-title>
  <div class="flex-none">
    <a href="https://ko-fi.com/P5P218535A" target="_blank">
      <img
        height="36"
        style="border: 0px; height: 36px"
        src="https://storage.ko-fi.com/cdn/kofi6.png?v=6"
        border="0"
        alt="Buy Me a Coffee at ko-fi.com" />
    </a>
  </div>
</div>

@if (views().length > 0 && token()) {
  <div class="animate__animated animate__fadeIn">
    <div
      class="carousel carousel-center bg-neutral w-full gap-4 p-4 lg:rounded-xl">
      @for (view of views(); track $index) {
        <app-preview-item
          [preview]="view"
          (removePreview)="removePreview.emit(view)"
          (openStat)="openStat(view)"></app-preview-item>
      }
    </div>
  </div>
}

@if (previewInfo(); as info) {
  <app-modal
    [emitEvent]="modalInEvent()"
    (modalOutputEvent)="modalOutEvent($event)">
    <app-preview-info [info]="info" />
  </app-modal>
}
