/* for Firefox */
.carousel {
  scrollbar-width: initial;
}
/* for Chrome, Safari, Edge, etc */
.carousel::-webkit-scrollbar {
  height: 0.5rem;
  display: block;
  border-radius: 9999px;
}
.carousel::-webkit-scrollbar-thumb {
  border-radius: 9999px;
}
