<div class="navbar bg-base-200 px-2 py-8 shadow-sm">
  <div class="flex-1">
    <app-logo />
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal hidden px-1 lg:inline-flex">
      <li><a class="text-accent font-bold" href="/#try">Try it!</a></li>
      <li><a href="/#features">Features</a></li>
      <li><a href="/#integrations">Integrations</a></li>
    </ul>

    <div class="dropdown dropdown-end lg:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <ng-icon size="24" name="phosphorList"></ng-icon>
      </div>
      <ul
        tabindex="0"
        class="menu dropdown-content bg-base-300 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="/#features">Features</a></li>
        <li><a href="/#integrations">Integrations</a></li>
      </ul>
    </div>
  </div>
</div>
