<div class="mt-44">
  <app-share-content-title
    >Intergrate with your application!</app-share-content-title
  >

  <div role="tablist" class="tabs tabs-bordered tabs-lg mt-12">
    <input
      type="radio"
      name="type_tab"
      role="tab"
      class="tab"
      aria-label="GraphQL"
      checked="checked" />
    <div role="tabpanel" class="tab-content pt-2 lg:p-10">
      <app-gql-content [gqlUrl]="gqlUrl()" />
    </div>

    <input
      type="radio"
      name="type_tab"
      role="tab"
      disabled="disabled"
      class="tab"
      aria-label="REST (comming soon)" />
    <div role="tabpanel" class="tab-content pt-2 lg:p-10">
      <app-gql-content [gqlUrl]="gqlUrl()" />
    </div>

    <input
      type="radio"
      name="type_tab"
      role="tab"
      class="tab"
      disabled="disabled"
      aria-label="Image (comming soon)" />
    <div role="tabpanel" class="tab-content pt-2 lg:p-10">
      <app-gql-content [gqlUrl]="gqlUrl()" />
    </div>
  </div>
</div>
