<footer
  [class.hasFiles]="files().length > 0"
  class="bg-neutral pb-4 text-center">
  <div class="title" [class.hasFiles]="files().length > 0">
    <h1 class="pb-2 pt-4 text-xl">Images</h1>
  </div>

  <div class="mx-4" [class.hidden]="error() === undefined">
    <div role="alert" class="alert alert-error">
      <ng-icon name="phosphorXCircle" class="hidden lg:block" size="24" />
      <span>{{ error() }}</span>
    </div>
  </div>

  <div class="list-files">
    @for (file of files(); track $index) {
      <div class="file mx-2 grid grid-cols-12">
        <div class="name col-span-4 me-1 place-content-center text-end">
          @if (isSuccess(file)) {
            <span>{{ file.name }}</span>
          } @else {
            <span>{{ file.name }}</span>
          }
        </div>
        <div class="col-span-7 place-content-center">
          <progress
            class="progress"
            [attr.value]="isFileLoading(file) ? null : 100"
            max="100"></progress>
        </div>
        <div class="done text-start" [class.anim]="!isFileLoading(file)">
          @if (isSuccess(file)) {
            <ng-icon
              name="phosphorCheckCircleDuotone"
              size="42"
              class="text-success" />
          } @else {
            <div class="tooltip" data-tip="upload again">
              <ng-icon
                (click)="uploadAgain(file)"
                name="phosphorXCircle"
                size="42"
                class="cursor-pointer text-error" />
            </div>
          }
        </div>
        <div class="col-span-12 text-sm text-error">
          {{ file.error }}
        </div>
      </div>
    }
  </div>
</footer>
