<img
  class="min-h-[427px]"
  [alt]="info().title"
  [src]="info().image.thumbnailUrl" />
<div class="bg-neutral mx-4 -mt-28 rounded-t-xl p-4 lg:-mt-20">
  <div class="flex">
    <div class="flex-auto overflow-hidden">
      <h2 class="mb-1 flex items-center gap-2 text-xl">
        <a class="btn btn-circle btn-ghost hidden lg:flex">
          <ng-icon name="phosphorLinkSimpleHorizontal" size="22" />
        </a>
        <a [href]="info().url">{{ info().title }}</a>
      </h2>

      <h3 class="flex items-center gap-1 lg:ms-8">
        <a class="btn btn-circle btn-ghost hidden lg:flex">
          <ng-icon name="phosphorImageSquare" size="22" />
        </a>
        <a [href]="info().image.originalUrl" class="link">{{
          info().image.originalUrl
        }}</a>
      </h3>

      <ul class="ms-4 mt-4 hidden">
        <li class="flex items-center gap-2">
          <ng-icon name="phosphorKey" size="22"></ng-icon> id:
        </li>
        <li class="flex items-center gap-2">
          <ng-icon name="phosphorImageSquare" size="22" />
          preview url:
        </li>
        <li class="flex items-center gap-2">
          <ng-icon name="phosphorBookmark" size="22" />
          image id: {{ info().image.id }}
        </li>
      </ul>
    </div>

    <div class="hidden flex-none">
      <div class="tooltip tooltip-left tooltip-info" data-tip="show more">
        <button class="btn btn-circle btn-ghost">
          <ng-icon name="phosphorArrowCircleDownDuotone" size="24" />
        </button>
      </div>
    </div>
  </div>
  <button class="btn btn-primary mt-4 hidden w-full">show more</button>
</div>
