<div class="mt-16 flex px-4">
  <app-share-content-sub-title class="text-warning flex-auto">
    and will get a site screenshot!
  </app-share-content-sub-title>
  <div class="flex-none">
    <a href="https://ko-fi.com/P5P218535A" target="_blank">
      <img
        height="36"
        style="border: 0px; height: 36px"
        src="https://storage.ko-fi.com/cdn/kofi6.png?v=6"
        border="0"
        alt="Buy Me a Coffee at ko-fi.com" />
    </a>
  </div>
</div>

@if (views().length > 0 && token()) {
  <div class="lg:mx-4">
    <div
      class="carousel carousel-center bg-neutral w-full gap-4 p-4 lg:rounded-xl">
      @for (view of views(); track $index) {
        <app-preview-item
          [preview]="view"
          (openStat)="openStat(view)"></app-preview-item>
      }
    </div>
  </div>
}

<app-modal
  [emitEvent]="modalInEvent()"
  (modalOutputEvent)="modalOutEvent($event)">
  @if (showPreview()?.data) {
    <img
      class="min-h-[627px] w-full"
      src="{{ showPreview()?.data?.preview }}"
      [alt]="showPreview()?.data?.previewAltTitle || ''" />
    <div
      class="preview-stat bg-neutral absolute right-0 bottom-0 left-0 mx-4 overflow-hidden rounded-t-xl p-4">
      <div class="flex">
        <div class="grow">
          <a href="{{ showPreview()?.data?.url }}" target="_blank" class="link">
            {{ showPreview()?.data?.shortUrl }}</a
          >
          <ul class="ms-4 hidden lg:block">
            <li>title: {{ showPreview()?.data?.title }}</li>
            <li>
              preview url:
              <a href="{{ showPreview()?.data?.preview }}" class="link">{{
                showPreview()?.data?.preview
              }}</a>
            </li>
          </ul>
        </div>

        <div class="tooltip tooltip-left tooltip-accent" data-tip="show more">
          <button class="btn btn-circle btn-ghost">
            <ng-icon name="phosphorArrowCircleDownDuotone" size="24" />
          </button>
        </div>
      </div>
    </div>
  }
</app-modal>
