<div class="px-2">
  <h1 class="pb-2 text-3xl font-semibold">Privacy Policy</h1>
  <p>Effective Date: {{ today }}</p>

  <p class="text-sm">
    This Privacy Policy describes how Previewly.top ("we," "us," or "our")
    collects, uses, and discloses your personal information when you use our
    website (the "Service").
  </p>

  <h2>Information We Collect</h2>
  <p>
    We may collect the following information about you when you use the Service:
  </p>
  <ul>
    <li>
      **Non-Personal Information:** We may collect non-personal information that
      does not identify you individually, such as your browser type, operating
      system, IP address, referring / exit pages, location data (approximate),
      and date/time stamps. This information is used to understand how users
      interact with the Service, improve the overall user experience, and for
      internal analytics purposes.
    </li>
    <li>
      **Optional Information:** You may choose to provide us with additional
      information, such as email addresses, when you contact us. This
      information is used to respond to your inquiries and requests.
    </li>
  </ul>

  <h2>How We Use Your Information</h2>
  <p>We use the information we collect for the following purposes:</p>
  <ul>
    <li>To operate and maintain the Service;</li>
    <li>To improve the Service;</li>
    <li>To personalize your experience;</li>
    <li>To send you updates and communications;</li>
    <li>To respond to your inquiries and requests;</li>
    <li>To analyze how users interact with the Service;</li>
    <li>For security and fraud prevention purposes.</li>
  </ul>

  <h2>Cookies and Tracking Technologies</h2>
  <p>
    We may use cookies and other tracking technologies to collect and store
    non-personal information. Cookies are small data files that are placed on
    your device when you visit a website. They can be used to remember your
    preferences, track your activity on the website, and understand how you
    interact with the Service.
  </p>
  <p>
    You can choose to disable cookies through your browser settings. However,
    this may limit your ability to use certain features of the Service.
  </p>

  <h2>Sharing Your Information</h2>
  <p>
    We will not share your personal information with third parties without your
    consent, except in the following cases:
  </p>
  <ul>
    <li>To comply with legal obligations;</li>
    <li>To protect our rights and interests;</li>
    <li>To prevent fraud or other illegal activity;</li>
    <li>To service providers who help us operate the Service.</li>
  </ul>
  <p>
    These service providers are obligated to keep your information confidential
    and secure.
  </p>

  <h2>Data Security</h2>
  <p>
    We take reasonable precautions to protect your information from unauthorized
    access, disclosure, alteration, or destruction. However, no website or
    internet transmission is completely secure. We cannot guarantee the security
    of your information.
  </p>

  <h2>Your Rights</h2>
  <p>You have certain rights regarding your personal information, including:</p>
  <ul>
    <li>The right to access your personal information;</li>
    <li>The right to rectify any inaccuracies in your personal information;</li>
    <li>The right to request the deletion of your personal information;</li>
    <li>The right to object to the processing of your personal information.</li>
  </ul>
  <p>
    You can exercise these rights by contacting us at [**Insert Contact
    Information**].
  </p>

  <h2>Children's Privacy</h2>
  <p>
    Our Service is not directed to children under the age of 13. We do not
    knowingly collect personal information from children under 13. If you are a
    parent or guardian and you believe that your child has provided us with
    personal information, please contact us. We will take steps to delete the
    information from our servers.
  </p>

  <h2>Changes to this Privacy Policy</h2>
  <p>
    We may update this Privacy Policy from time to time. We will notify you of
    any changes by posting the new Privacy Policy on the Service. You are
    advised to review this Privacy Policy periodically for any changes.
  </p>

  <h2>Contact Us</h2>
  <p>
    If you have any questions about this Privacy Policy, please contact us at
    <a class="link" href="https://github.com/previewly/previewly-frontend">
      github
    </a>
  </p>
</div>
