<h3 class="bg-neutral p-2 text-xl font-bold">GraphQL endpoint</h3>
<p class="flex items-center py-2 ps-4">
  {{ gqlUrl() }}
  <app-copy-to-clipboard
    position="right"
    [value]="gqlUrl()"
    class="ms-8"></app-copy-to-clipboard>
</p>
<h3 class="bg-neutral p-2 text-xl font-bold">Token</h3>
<p class="flex items-center py-2 ps-4">
  {{ token() }}
  <app-copy-to-clipboard
    position="right"
    [value]="token()"
    class="ms-8"></app-copy-to-clipboard>
</p>
<div class="divider"></div>
<h3 class="bg-neutral p-2 text-xl font-bold">1. Get a token</h3>
<p class="pt-2">
  First of all, yous should get a token for your application by mutation
  `createToken`
</p>

<app-code-and-result codeValue="mutation { createToken }">
  <pre class="gql">
    <span class="operation">mutation</span> {{'{'}}
        createToken
    {{'}'}}
  </pre>

  <pre result class="json">
    <span result class="json">{{'{'}}
        <span class="key" >"data"</span>: {{'{'}}
            <span class="key">"createToken"</span>: <span class="value">"your token"</span>
        {{'}'}}
    {{'}'}}</span>
  </pre>
</app-code-and-result>

<h3 class="bg-neutral p-2 text-xl font-bold">2. Add URL of website</h3>
<p class="pt-2">
  Should add an URL of website by `addUrl` mutation. Previewly will return a
  pre-flight info about site preview and start grab the image.
</p>

<app-code-and-result
  codeValue="mutation { addUrl(token: 'you token', url: 'url') { id image status url }}">
  <pre class="gql">
    <span class="operation">mutation</span> {{'{'}}
        addUrl (
          <span class="variable">token</span>: <span class="value" >"your token"</span>,
          <span class="variable">url</span>: <span class="value" >"https://www.google.com/"</span>
        ) {{'{'}}
            id
            image
            status
            url
        {{'}'}}
    {{'}'}}
  </pre>
  <pre result class="json">
    <span result class="json">{{'{'}}
        <span class="key" >"data"</span>: {{'{'}}
            <span class="key">"addUrl"</span>: {{'{'}}
                <span class="key">"id"</span>: <span class="value">1</span>,
                <span class="key">"image"</span>: <span class="value">"https://previewly.top/assets/loader-200px-200px.gif"</span>,
                <span class="key">"status"</span>: <span class="value">"pending"</span>,
                <span class="key">"url"</span>: <span class="value">"https://www.google.com/"</span>,
            {{'}'}}
        {{'}'}}
    {{'}'}}</span>
  </pre>
</app-code-and-result>
