<div
  class="bg-base-100 animate__animated relative h-52 w-96 rounded-xl shadow-xl"
  [class.cursor-pointer]="preview().status === 'success'"
  (animationend)="animationEnd()"
  [class.animate__fadeOut]="shouldRemove()"
  [class.animate__fadeIn]="!shouldRemove()">
  <div
    tabindex="0"
    class="bg-base-200 grid h-full w-full place-items-center rounded-xl"
    (keyup.enter)="click()"
    (click)="click()">
    @switch (preview().status) {
      @case ('loading') {
        <span class="loading loading-spinner loading-lg text-primary"></span>
      }
      @case ('error') {
        <ng-icon
          name="phosphorCloudWarningDuotone"
          size="128"
          class="text-error"></ng-icon>
        <h2 class="text-warning text-center text-sm">{{ preview().error }}</h2>
      }
      @case ('success') {
        @if (preview().data?.preview) {
          <img
            class="block h-full w-full rounded-xl object-cover"
            [src]="preview().data?.preview"
            [alt]="preview().data?.previewAltTitle || ''" />
        }
      }
      @default {}
    }
  </div>

  <div
    class="absolute top-0 left-0 rounded-tl-xl px-2"
    [class.bg-warning]="preview().status === 'error'"
    [class.text-warning-content]="preview().status === 'error'"
    [class.bg-success]="preview().status === 'success'"
    [class.text-success-content]="preview().status === 'success'">
    @if (preview().data?.shortUrl) {
      <h2 class="text-sm">{{ preview().data?.shortUrl }}</h2>
    }
  </div>
  <div class="absolute right-2 bottom-2 z-10">
    <a
      tabindex="1"
      (click)="removeClick()"
      (keyup.enter)="removeClick()"
      class="btn btn-ghost btn-circle hover:btn-warning">
      <ng-icon name="phosphorTrashSimpleDuotone" size="24"></ng-icon>
    </a>
  </div>
</div>
